[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "content/docs"]
	path = content/docs
	url = git@github.com:LawRefBook/Laws.git
	branch = master
